.pointer {
    cursor: pointer;
}

.error-box {
    color: red;
}

.posts-template {
    margin: 0 0 3.5em 0;
}

.button-box {
    padding: 1em;
}

.new-post-button {
    margin: 5em 0 0 4em;
}

/*ng stuff*/
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}